@inherits Umbraco.Web.Mvc.UmbracoViewPage<DynamicLoop.Components.Models.Home.WorkExperienceModel>
@{
    Layout = null;
}

<h2>Work experience </h2>
<ul class="list">
    <li class="arrow-up">&nbsp;</li>
    @foreach(var experience in Model.Experiences)
    {
        <li>
        <h3>@experience.CompanyName</h3> <h5>@experience.Period</h5> <h5>@experience.Location</h5>
        <h6>@experience.Position</h6>
        <div class="description">
                @Html.Raw(experience.Description)
        </div>
    </li>
    }
</ul>   